name: Sub Cleaner

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  clean:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - run: python sub_tester.py

      - name: Commit result
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add alive_sub.txt
          git commit -m "update alive sub" || echo "no changes"
          git push
